#root {
    margin: 20px;
}

.App {
}

.App h1 {
    font-size: 24pt;
    margin: 1px 0;
    padding: 0;
}

.App h2 {
    font-size: 18pt;
    color: darkslategray;
    background-color: aliceblue;
    margin: 10px 0 0 0;
    padding: 0 4px;
    border: darkslategray 1px solid;
    border-bottom: none;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.Header {
    width: 90%;
    background-color: darkslategray;
    color: aliceblue;
    padding: 0.5em;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.Header a {
    color: aliceblue;
}

.Header a:hover {
    color: white;
}
.Panel {
    float: left;
    margin-right: 1em;
}

.Panel select::-webkit-scrollbar {
    width: 1em;
}

.EntryTable {
    border-collapse: collapse;
    table-layout: fixed;
    border: darkslategray 1px solid;
}

.EntryTable th {
    text-align: left;
    padding-left: 0.5em;
    padding-right: 0.5em;
    background-color: darkslategray;
    color: aliceblue;
}

.EntryTable td {
    border-bottom: lightblue 1px solid;
    overflow: visible;
    vertical-align: text-top;
    padding: 0.25em 0.5em;
}

.EntryTable tr:nth-child(even) {
    background-color: aliceblue;
}
